{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Registrar Producción</h2>
    <form method="POST" class="shadow p-4 rounded bg-light">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_producto" class="form-label">Producto</label>
            {{ form.producto }}
        </div>
        <div class="mb-3">
            <label for="id_cantidad" class="form-label">Cantidad Elaborada</label>
            {{ form.cantidad }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar Producción</button>
    </form>
</div>
{% endblock %}
