{% extends "base.html" %}
{% load static %}

{% block title %}| Listado del Contador de Billetes{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/datatables-somethink.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/positivo.css' %}" />
{% endblock %}

{% block content %}
<div class="az-dashboard-one-title">
    <div>
      <h2 class="az-dashboard-title">Listado del Contador de Billetes</h2>
      <p class="az-dashboard-text">Las veces que contaste los billetes, ordenados por fechas.</p>
    </div>
    <div class="az-content-header-right">
        <a href="{% url 'calculadora_billetes' %}">
            <button class="btn btn-primary">Agregar</button>
        </a>
    </div>
  </div><!-- az-dashboard-one-title -->
 <div>
    {% if billetes %}
        <table class="table" id="tabla">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Comentario</th>
                    <th>Monto</th>
                    <th>Tipo</th>
                    <th>$1 </th>
                    <th>$3 </th>
                    <th>$5 </th>
                    <th>$10 </th>
                    <th>$20 </th>
                    <th>$50 </th>
                    <th>$100 </th>
                    <th>$200 </th>
                    <th>$500 </th>
                    <th>$1000 </th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for billete in billetes %}
                    <tr>
                        <td>{{ billete.fecha|date:"d/m/y h:i a" }}</td>
                        <td>{{ billete.comentario }}</td>
                        <td>	
			    {% if billete.tipo_cuenta.siglas == "CR" %}
			      <span class="positivo">${{ billete.total }}</span>
			    {% else %}
				<span class="negativo">${{ billete.total }}</span>
			    {% endif %}
		        </td>
                        <td style="text-align:center !important">{{ billete.tipo_cuenta.siglas }}</td>
                        <td style="text-align:center !important">{{ billete.un_peso }}</td>
                        <td style="text-align:center !important">{{ billete.tres_pesos }}</td>
                        <td style="text-align:center !important">{{ billete.cinco_pesos }}</td>
                        <td style="text-align:center !important">{{ billete.diez_pesos }}</td>
                        <td style="text-align:center !important">{{ billete.veinte_pesos }}</td>
                        <td style="text-align:center !important">{{ billete.cincuenta_pesos }}</td>
                        <td style="text-align:center !important">{{ billete.cien_pesos }}</td>
                        <td style="text-align:center !important">{{ billete.doscientos_pesos }}</td>
                        <td style="text-align:center !important">{{ billete.quinientos_pesos }}</td>
                        <td style="text-align:center !important">{{ billete.mil_pesos }}</td>
                        <td><a href="{% url 'editar_calculadora_billetes' billete.id %}"><button class='btn btn-primary'>Editar</button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aún no hay registros.</p>
    {% endif %}
 </div> 

{% endblock content %}

{% block js %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/datatables-somethink.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/moment.min.js' %}" /></script>
  <script type="text/javascript" src="{% static 'js/language-dataTables.js' %}" /></script>

  <script>

    new DataTable('#tabla', {
    language: language,
    pageLength: 20,
    });
  </script>
{% endblock %}