{% extends "base.html" %}
{% load static %}

{% block title %}| Listado del Contador de Billetes{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/datatables-somethink.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/positivo.css' %}" />
  <style> 
    .modal-header {
        background-color: #0059be;
        color: white;
        display: flex;
        //flex-direction: column;
        //align-items: center;
        padding-top: 4px; /* Ajuste para acomodar la franja */
        //position: relative;
    }

    .modal-header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px; /* Ancho de la franja amarilla */
        background-color: #fdb02b;;
    }
    .ancho {
        /* Asegurar que la segunda columna tenga un ancho fijo */
        td:nth-child(2), th:nth-child(2) {
            width: 450px !important;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="az-dashboard-one-title">
    <div>
      <h2 class="az-dashboard-title">Listado del Contador de Billetes  Total de Efectivo: <span id="efectivo"></span>&nbsp;
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#detalles" onclick="total_billetes()">
        Detalle
        </button>
    </h2>
      <p class="az-dashboard-text">Las veces que contaste los billetes, ordenados por fechas.</p>
    </div>
    <div class="az-content-header-right">
        <a href="{% url 'calculadora_billetes' %}">
            <button class="btn btn-primary">Agregar</button>
        </a>
    </div>
  </div><!-- az-dashboard-one-title -->
 <div>
    {% if billetes %}
        <table class="table ancho" id="tabla">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Comentario</th>
                    <th>Tipo</th>
                    <th>Monto</th>
                    <th>Sub Total</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for billete in billetes %}
                    <tr>
                        <td>{{ billete.fecha|date:"d/m/y H:i" }}</td>
                        <td>{{ billete.comentario }}</td>
                        <td style="text-align:center !important">{{ billete.tipo_cuenta.siglas }}</td>
                        <td>	
                            {% if billete.tipo_cuenta.siglas == "CR" %}
                                <span class="positivo">${{ billete.total }}</span>
                            {% else %}
                                <span class="negativo">${{ billete.total }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if billete.sub_total > 0 %}
                                <span class="positivo">${{ billete.sub_total }}</span>
                            {% else %}
                                <span class="negativo">${{ billete.sub_total }}</span>
                            {% endif %}
                        </td>                        
                        <td>
                            <a href="{% url 'editar_calculadora_billetes' billete.id %}">
                                <button class='btn btn-primary'>
                                    <i class="typcn typcn-edit"></i>
                                </button>
                            </a>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#detalles" onclick="billetes({{ billete.id }})">
                                <i class="typcn typcn-eye-outline"></i>
                            </button>
                            <a href="{% url 'borrar_calculadora_billete' billete.id %}">
                                <button class='btn btn-danger'><i class="typcn typcn-trash"></i></button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aún no hay registros.</p>
    {% endif %}
 </div> 
<!-- BASIC MODAL -->
<div id="modaldemo1" class="modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">Message Preview</h6>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Why We Use Electoral College, Not Popular Vote</h6>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-indigo">Save changes</button>
          <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div><!-- modal-dialog -->
  </div>

<!-- LARGE MODAL -->
<div id="detalles" class="modal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header" style="justify-content: start !important;">
                <h6 class="modal-title mt-3">Detalles del pago</h6>
                <!-- button type="button" class="close mt-1" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button -->
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr style="text-align:center !important">
                            <th>Monto</th>
                            <th>$1</th>
                            <th>$3</th>
                            <th>$5</th>
                            <th>$10</th>
                            <th>$20</th>
                            <th>$50</th>
                            <th>$100</th>
                            <th>$200</th>
                            <th>$500</th>
                            <th>$1000</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="total" style="text-align:center !important"></td>
                            <td id="1" style="text-align:center !important"></td>
                            <td id="3" style="text-align:center !important"></td>
                            <td id="5" style="text-align:center !important"></td>
                            <td id="10" style="text-align:center !important"></td>
                            <td id="20" style="text-align:center !important"></td>
                            <td id="50" style="text-align:center !important"></td>
                            <td id="100" style="text-align:center !important"></td>
                            <td id="200" style="text-align:center !important"></td>
                            <td id="500" style="text-align:center !important"></td>
                            <td id="1000" style="text-align:center !important"></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- modal-body -->
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-outline-light">Close</button>
            </div>
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->
{% endblock content %}

{% block js %}
  <!-- script src="{% static 'js/jquery.min.js' %}"></script -->
  <script src="{% static 'js/datatables-somethink.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/moment.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/language-dataTables.js' %}" type="text/javascript"></script>
  <script>
    // Mostrar Efectivo
    var Efectivo = document.getElementById('efectivo')
    fetch('/api/saldo_efectivo/')
    .then(rest => rest.json())
    .then(dat => {
        const efec = dat[0].saldo
        if (efec > 0) {
            Efectivo.innerHTML = '<span class="positivo">$' + new Intl.NumberFormat().format(efec) + '</span>'
        } else {
            Efectivo.innerHTML = '<span class="positivo">$' + new Intl.NumberFormat().format(efec) + '</span>'
        }
    })

    //new DataTable('#tabla', {
    /*
    var table = $('#tabla').DataTable({
        language: language,
        pageLength: 20,
        // order: [[0, 'desc']],
        // order: [[0, 'asc']],
    });
    */
    //$('#tabla').DataTable();
  </script>

  <script>
    $(function(){
      'use strict'

      // showing modal with effect
      $('.modal-effect').on('click', function(e){
        e.preventDefault();
        var effect = $(this).attr('data-effect');
        $('#modaldemo8').addClass(effect);
      });

      // hide modal with effect
      $('#modaldemo8').on('hidden.bs.modal', function (e) {
        $(this).removeClass (function (index, className) {
            return (className.match (/(^|\s)effect-\S+/g) || []).join(' ');
        });
      });

    });

    function billetes(id) {
        // console.log(`se le dio click a detalle para buscar el id: ${id}`)
        let url = '/api/contador_billetes/' + id;
        // let comentario = document.getElementById('comentario')
        let total = document.getElementById('total')
        let uno = document.getElementById('1')
        let tres = document.getElementById('3')
        let cinco = document.getElementById('5')
        let diez = document.getElementById('10')
        let veinte = document.getElementById('20')
        let cincuenta = document.getElementById('50')
        let cien = document.getElementById('100')
        let doscientos = document.getElementById('200')
        let quinientos = document.getElementById('500')
        let mil = document.getElementById('1000')

        fetch(url)
        .then(res => res.json())
        .then(dat => {
            // console.log(`lo que llega del fetch: ${dat.total}`)
            // const totall = dat.total
            /*
            if (totall > 0) {
                total.innerHTML = '<span class="positivo">$' + new Intl.NumberFormat().format(totall) + '</span>'
            } else {
                total.innerHTML = '<span class="positivo">$' + new Intl.NumberFormat().format(totall) + '</span>'
            }
            */
            total.innerHTML = '$ ' + new Intl.NumberFormat().format(dat.total)
            // comentario.innerHTML = dat.comentario
            uno.innerHTML = dat.un_peso
            tres.innerHTML = dat.tres_pesos
            cinco.innerHTML = dat.cinco_pesos
            diez.innerHTML = dat.diez_pesos
            veinte.innerHTML = dat.veinte_pesos
            cincuenta.innerHTML = dat.cincuenta_pesos
            cien.innerHTML = dat.cien_pesos
            doscientos.innerHTML = dat.doscientos_pesos
            quinientos.innerHTML = dat.quinientos_pesos
            mil.innerHTML = dat.mil_pesos
        })
    }

    function total_billetes() {
        // console.log(`se le dio click a detalle para buscar el id: ${id}`)
        let url = '/api/saldo_efectivo/';
        let total = document.getElementById('total')
        let uno = document.getElementById('1')
        let tres = document.getElementById('3')
        let cinco = document.getElementById('5')
        let diez = document.getElementById('10')
        let veinte = document.getElementById('20')
        let cincuenta = document.getElementById('50')
        let cien = document.getElementById('100')
        let doscientos = document.getElementById('200')
        let quinientos = document.getElementById('500')
        let mil = document.getElementById('1000')

        fetch(url)
        .then(res => res.json())
        .then(dat => {
            // console.log(`lo que llega del fetch: ${dat.total}`)
            /*
            const totall = dat.total
            if (totall > 0) {
                total.innerHTML = '<span class="positivo">$' + new Intl.NumberFormat().format(totall) + '</span>'
            } else {
                total.innerHTML = '<span class="positivo">$' + new Intl.NumberFormat().format(totall) + '</span>'
            }
            */
            total.innerHTML = '$ ' + new Intl.NumberFormat().format(dat[0].saldo)
            uno.innerHTML = dat[0].un_peso
            tres.innerHTML = dat[0].tres_pesos
            cinco.innerHTML = dat[0].cinco_pesos
            diez.innerHTML = dat[0].diez_pesos
            veinte.innerHTML = dat[0].veinte_pesos
            cincuenta.innerHTML = dat[0].cincuenta_pesos
            cien.innerHTML = dat[0].cien_pesos
            doscientos.innerHTML = dat[0].doscientos_pesos
            quinientos.innerHTML = dat[0].quinientos_pesos
            mil.innerHTML = dat[0].mil_pesos
        })
    }
  </script>
{% endblock %}
