{% extends "base.html" %}

{% block content %}

<div class="az-dashboard-one-title">
    <div>
      <h2 class="az-dashboard-title">Borrar registro</h2>
      <p class="az-dashboard-text">Se devolverán la cantidad al conteo total de billetes</p>
      <form method="post">
        {% csrf_token %}
        <p class="mt-5">Estás seguro de borrar el registro de:  "{{ object.comentario }} con un monto de: ${{ object.total }}"?</p>
        {{ form }}
        <input type="submit" value="Confirm" class="btn btn-danger">
    </form>
    </div>
</div>

{% endblock content %}

