{% extends 'base.html' %}
{% load static %}


{% block title %} | Listado de Productos{% endblock title %}

{% block css %}
    <link href="{% static 'assets/lib/select2/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/daterangepicker.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/datatables-somethink.min.css' %}" />
    <!-- link href="{% static 'assets/lib/pickerjs/picker.min.css' %}" rel="stylesheet" -->
{% endblock css%}

{% block content %}

<div class="az-dashboard-one-title">
  <div>
    <h2 class="az-dashboard-title">Lácteos más venidos</h2>
    <p class="az-dashboard-text">Los productos lácteos más vendidos en el rango de tiempo</p>
  </div>
  <div class="az-content-header-right">
  </div>
</div><!-- az-dashboard-one-title -->

<form method="POST" id="rangoDeFechas">
  <div class="row row-sm mg-b-20">
      {% csrf_token %}
        <div class="col-6">
          <div class="row mb-3">
            <label for="rangosFechas" class="col-sm-3 col-form-label">Rangos:</label>
            <div class="col-9">
              <input type="text" class="form-control" id="rangosFechas" name="datefilter">
            </div  >
          </div>
        </div>
        <div class="col-3">
          <select class="form-control" id="depart" name="departamento">
          </select>
        </div>
        <div class="col-3">
          <button class="btn btn-primary btn-block">Mostrar</button>
        </div>
  </div>
</form>
<div id="no_datos" class="invisible mt-3">No hay datos para esta(s) fecha(s)</div>
<div class="row row-sm mg-b-20 invisible" id="mostrar_datos">
    <div class="col-5">
        <table id="tablaLacteos" class="display table table-striped table-hover table-bordered" >
            <thead>
                <tr>
                    <!-- th>Código</th -->
                    <th>Producto</th>
                    <th>Cantidad Vendida</th>
                    <!-- th>Departamento</th -->
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-7">
        <div class="ht-200 ht-lg-250" style="width: 100%;">
            <canvas id="grafico" height="250px"></canvas>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}

<script src="{% static 'assets/lib/select2/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
<script src="{% static 'js/datatables-somethink.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/language-dataTables.js' %}" /></script>
<!-- script src="{% static 'assets/lib/pickerjs/picker.min.js' %}"></script -->

<script>
// Tomar la fecha de hoy
const fecha = new Date();

$.ajax({
    url: '/api/departamentos/',
    type: 'get',
    //data: data,
    dataType: 'json',
    success: function(response) {

        var len = response.length;

        $("#depart").empty();
        for( var i = 0; i<len; i++){
            var id = response[i]['id'];
            var name = response[i]['departamento'];
            if (id == 1) {
                $("#depart").append("<option value='"+id+"' selected>"+name+"</option>");
            } else {
                $("#depart").append("<option value='"+id+"'>"+name+"</option>");
            }
        }
    }
});

$(document).ready(function(){
  $('.select2').select2({
    placeholder: 'Escoja uno',
    searchInputPlaceholder: 'Buscar'
  });

  $('.select2-no-search').select2({
    minimumResultsForSearch: Infinity,
    placeholder: 'Escoja uno'
  });
});


// Formar los calendarios para las entre fechas
$('input[name="datefilter"]').daterangepicker({
    autoUpdateInput: true,
    singleDatePicker: false,
    //showDropdowns: true,
    // minYear: 2020,
    autoApply: true,
    locale: {
        "format": "YYYY-MM-DD",
        // "separator": " - ",
        // "fromLabel": "From",
        // "toLabel": "To",
        // "customRangeLabel": "Custom",
        // "weekLabel": "W",
        "daysOfWeek": [
            "Do",
            "Lu",
            "Ma",
            "Mi",
            "Ju",
            "Vi",
            "Sa"
        ],
        "monthNames": [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Augusto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
        ],
        "firstDay": 1
    },
    ranges: {
      'Hoy': [moment(), moment()],
      'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
      'Últimos 7 Días': [moment().subtract(6, 'days'), moment()],
      'Últimos 30 Días': [moment().subtract(30, 'days'), moment()],
      'Este Mes': [moment().startOf('month'), moment().endOf('month')],
      'Mes anterior': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    },
    "alwaysShowCalendars": true,
    "startDate": fecha,
    // "endDate": "11/27/2024",
    //"minDate": "DD/MM/YYYY",
    //"maxDate": "DD/MM/YYYY"
    }, function (start, end, label) {
    //console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
});

$("#rangoDeFechas").submit(function (e){
    e.preventDefault();
    const fechas = this.datefilter.value
    const hasta = fechas.indexOf(' -')
    const desde = fechas.indexOf('- ', hasta) + 2
    const final = fechas.length
    const fecha1 = fechas.substring(0, hasta)
    const fecha2 = fechas.substring(desde, final)
    const departamento = $('#depart').val()
    // console.log('las fechas: ', fecha1, ' y fecha 2: ', fecha2)
    fetch('/ventas/api_lacteos/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            start_date: fecha1,
            end_date: fecha2,
            departamento: departamento
        }),
    })
    .then(response => response.json())
    .then(data => {
        //console.log("lo que llega del POST: ", data)
        let los_datos = document.getElementById("mostrar_datos");
        let no_datos = document.getElementById("no_datos");
        if (Object.keys(data).length != 0) {
            los_datos.classList.remove("invisible");
            no_datos.classList.add("invisible");
            tablaDatos(data)
            Grafico(data)
        } else {
            los_datos.classList.add("invisible");
            no_datos.classList.remove("invisible");
        }
    });
});

function tablaDatos(data) {

    tabla = $('#tablaLacteos').DataTable();
    tabla.destroy();

    tabla = $('#tablaLacteos').DataTable({
    language: language,
    data: data,
    columns: [
        // { data: 'id_producto.codigo' },
        // { data: 'id_producto.producto' },
        { data: 'producto_s' },
        { data: 'total_vendido' },
        // { data: 'id_departamento.departamento' }
    ],
    order: [[1, 'desc']]
    })
}

function Grafico(data) {

  const ctx = document.getElementById('grafico').getContext('2d');

  if(this.graf) {
       this.graf.destroy()
  }

  if(data) {
      graf = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: data.map(label => label.producto_s),
          datasets: [{
            data: data.map(value => value.total_vendido),
            backgroundColor: '#2458b9',
            label: "Lácteos"
          }]
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          legend: {
            display: false,
              labels: {
                display: false
              }
          },
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero:true,
                fontSize: 10,
                //max: 2000
              }
            }],
            xAxes: [{
              barPercentage: 0.6,
              ticks: {
                beginAtZero:true,
                fontSize: 8
              }
            }]
          }
        }
    });
  }
}
</script>
    
{% endblock js %}
