{% extends 'base.html' %}

{% load static %}

{% block title %} | Subir ficheros{% endblock title %}

{% block css %}
<link href="{% static 'css/daterangepicker.css' %}" rel="stylesheet" />
{% endblock css %}

{% block content %}
<div class="az-dashboard-one-title">
  <div>
    <h2 class="az-dashboard-title">Subir archivo Excel</h2>
    <p class="az-dashboard-text">Para agregar el fichero que exporta el Abarrote, primero debe abrirlo en el Excel, y "usando Guardar como", guardarlo como: "Libro de Excel 97-2003. La imagen muestra cómo hacerlo</p>
  </div>
  <div class="az-content-header-right">
  </div>
</div><!-- az-dashboard-one-title -->
<div class="row">
    <div class="col">
        <p></p>
        <img alt="Convertir a CSV el fichero que exporta el Abarrote"
            src="{% static 'img/guardar_como_xls_97-2003_.jpg' %}" width="700px" height="400px" />
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <form method="post" enctype="multipart/form-data" id="formulario">
            {% csrf_token %}
            {% for field in form %}
              <div class="fieldWrapper mt-3">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
              </div>
              {% endfor %}
            <br />
            <div class="col-12 d-flex flex-row-reverse">
              <button class="btn btn-primary btn-block w-25" type="submit">Subir</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% if error %}
            <p style="color: red">{{ error }}</p>
          {% endif %}
          {% if form.non_field_errors %}
            <ul> 
              {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul> 
          {% endif %}
          {% for message in messages %}
            <div>{{ message }}</div>
          {% endfor %}
           <div id="errorContainer" class="text-danger font-weight-bold"></div> <!-- Contenedor para mostrar errores -->
        </div>    
      </div>
    </div>
</div>
 {% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
    <script type="text/javascript">
        const fecha = new Date();

        $('#id_fecha').daterangepicker({
            autoUpdateInput: true,
            singleDatePicker: true,
            showDropdowns: true,
            minYear: 2020,
            autoApply: true,
            locale: {
                "format": "YYYY-MM-DD",
                "separator": " - ",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mi",
                    "Ju",
                    "Vi",
                    "Sa"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Augusto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 1
            },
            "startDate": fecha,
            // "endDate": "11/27/2024",
            //"minDate": "DD/MM/YYYY",
            //"maxDate": "DD/MM/YYYY"
        }, function (start, end, label) {
            //console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        });

        $('.errorlist').css('color', 'red')

        function comparar_fecha(fec) {
            f = new Date(fec)
            dateFormatter = Intl.DateTimeFormat('sv-SE')
            return dateFormatter.format(f)
        }

        // function fetchPost(fecha, fichero, actualizar) {
        function fetchPost(formData) {
            // console.log('Dentro de la función fetchData, llega:', formData)

            // let formData = new FormData();
            // formData.append('datefilter', fecha);
            // formData.append('file', fichero);
            // formData.append('actualizar', actualizar);

            fetch('/ventas/upload/', {
                method: 'POST',
                headers: {
                    // 'Accept': 'application/json'
                    // 'Content-Type': 'application/json',
                    // 'X-CSRFToken': '{{ csrf_token }}',
                    // 'Content-Type': 'multipart/form-data',
                    
                    //'Content-Type': 'form-data',
                },
                body: formData, 
                // JSON.stringify({
                //     datefilter: fecha,
                //     file: fichero,
                //     actualizar: actualizar,
                    //csrfmiddlewaretoken: token,
                //}),
            })
            .then(response => {
              if (!response.ok) {
                return response.json().then(errorData => {
                  throw errorData; // Lanza los datos de error para ser manejados en el catch
                 });
              }
              return response.json(); // Intentar parsear la respuesta como JSON
            }) // Intentar parsear la respuesta como JSON })
            .then(data => {
                console.log("En la función Fetch: lo que llega de Django: ", data)
            })
            .catch(error => {
              console.error('Error:', error); // Mostrar los errores en la página web
              const errorContainer = document.getElementById('errorContainer');
              errorContainer.innerHTML = ''; // Limpiar cualquier error previo
              Object.entries(error).forEach(([key, value]) => {
                const errorMessage = document.createElement('p');
                errorMessage.textContent = `${key}: ${value}`;
                errorContainer.appendChild(errorMessage);
              });
            });
        }

        //  $("#formulario").submit(function (e){
        //     e.preventDefault();

        //     let formData = new FormData(this);
        //     // const fecha = $('#id_datefilter').val();
        //     // const fichero = $('#id_file').val();
        //     // const csrf = $("input[name=csrfmiddlewaretoken]").val();


        //     fetch('/api/ficherosubidos/')
        //     .then(res => res.json())
        //     .then(dat => {
        //         // const fecha = $('#id_datefilter').val();
        //         //console.log(`lo que llega del fetch de la api ficherosubidos: ${dat}`)
                
        //         //fecha_map = comparar_fecha(formData.get("datefilter"))
        //         fecha_map = formData.get("datefilter")
        //         // console.log('la fecha a comparar: ', fecha_map, ', la que llega del formulario: ', formData.get("datefilter"))
        //         coincide = dat.filter(d => fecha_map === comparar_fecha(d.fecha))
        //         // console.log('viendo si las fechas coinciden: ', coincide.lenght)
        //         if (coincide.length > 0) {
        //             if (window.confirm(`ya se registró la venta del día ${fecha_map}, ¿desea actualizar?`)) {
        //                 // fetchPost(fecha, fichero, true)

        //                 formData.append('actualizar', true);
        //                 fetchPost(formData)
        //             };
        //         } else {
        //             // fetchPost(fecha, fichero, false)
        //             fetchPost(formData);
        //         }
        //     })
        //     .catch(error => console.log('Error de captar los datos del for y ver si las fechas coinciden: ', error))
        // });
    </script>
{% endblock js %}
