{% extends "base.html" %}

{% block title %} | Lista de {{ Titudo }}{% endblock title %}

{% block content %}
    <h1>{{ Titudo }}</h1>
    <a href="{% url 'proveedor_create' %}">
        <button class="btn btn-primary btn-rounded btn-block col-md-2">
            Nuevo Proveedor
        </button>
    </a>

    <table class="mt-5 table table-hover">
        <thead>
            <tr class="tx-center">
                <th>Nombre</th>
                <th>Contacto</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.contacto }}</td>
                    <td>{{ proveedor.direccion }}</td>
                    <td>{{ proveedor.telefono }}</td>
                    <td>{{ proveedor.correo }}</td>

                    <td class="d-flex flex-row justify-content-around">
                        <button class="btn btn-info btn-rounded btn-block col-md-12">
                            Editar
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}