{% extends "base.html" %}

{% block title %} | Lista de Puntos de Ventas{% endblock title %}

{% block content %}
    <h1>Puntos de Ventas</h1>
    <a href="{% url 'puntodeventa_create' %}">
        <button class="btn btn-primary btn-rounded btn-block col-md-2">
            Nuevo Punto de Venta
        </button>
    </a>

    <div class="table-responsive">
        <table class="mt-5 table">
            <thead>
                <tr>
                    <th>Punto de Venta</th>
                    <th>Dirección</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for puntodeventa in puntodeventas %}
                    <tr>
                        <td>{{ puntodeventa.nombre }}</td>
                        <td>{{ puntodeventa.direccion }}</td>
                        <td class="d-flex flex-row justify-content-around">
                            <button class="btn btn-info btn-rounded btn-block col-md-6">
                                Editar
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
