{% extends "base.html" %}

{% block title %} | Lista de Ventas{% endblock title %}

{% block content %}
    <h1>Ventas</h1>
    <a href="{% url 'venta_create' %}">
        <button class="btn btn-primary btn-rounded btn-block col-md-2">Nueva     Venta</button>
    </a>
    <div class="table-responsive">
        <table class="mt-5 table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Punto de Venta</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.producto.nombre }}</td>
                        <td>{{ venta.punto_de_venta.nombre }}</td>
                        <td>{{ venta.cantidad }}</td>
                        <td>{{ venta.total }}</td>
                        <td class="d-flex flex-row justify-content-around">
                            <button class="btn btn-info btn-rounded btn-block col-md-4">
                                Editar
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
