{% extends 'base.html' %}

{% load static %}

{% block title %}| Listado de productos{% endblock title %}

{% block content %}

<div class="az-dashboard-one-title">
  <div>
    <h2 class="az-dashboard-title">Productos</h2>
    <p class="az-dashboard-text">Los diferentes productos en sus almacenes</p>
  </div>
  <div class="az-content-header-right">
    <a href="{% url 'registrar_producto' %}">
      <button class="btn btn-primary">Agregar</button>
    </a>
  </div>
</div><!-- az-dashboard-one-title -->
<table class="table" id="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Unidad Medida</th>
            <th>Almacén</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr>
            <td><img src="{{ item.imagen }}" width="50px" height="50px"/></td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.medida }}</td>
            <td>{{ item.almacen }}</td>
            <td>
              <a href="{% url 'editar_producto' item.id %}">
                <button class="btn btn-outline-success btn-rounded">Editar</button>
              </a>
              {% comment %}
               <a href="{% url 'borrar_producto' item.id %}" class="ml-1"> 
                <button class="btn btn-danger">Borrar</button>
              </a>
              {% endcomment %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
