{% extends 'base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'assets/lib/select2/css/select2.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block title %}| Registrar compra{% endblock title %}

{% block content %}
<h3 class="">{{ texto1 }}</h1>
<p>{{ texto2 }}</p>
<form class="form-class" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    
    <button class="btn btn-outline-primary btn-rounded" type="submit" name="guardar">Registrar</button>
    <button class="btn btn-outline-primary btn-rounded" type="submit" name="guardar_y_seguir">Registrar y añadir otro</button>
    <button class="btn btn-outline-warning btn-rounded" type="reset">Limpiar</button>
    <button class="btn btn-outline-danger btn-rounded" type="cancel" onclick="cancelar()">Cancelar</button>
</form>
{% endblock %}

{% block js %}
<script src="{% static 'assets/lib/select2/js/select2.min.js' %}"></script>
<script>
    //$(document).ready(function(){
        $("#id_producto").select2();
    //  });

    function cancelar() { window.location.href = "{% url 'list_compra' %}"; 
    }

    async function select(value) {
        await fetch('/compras/api_ultimoprecio/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                producto: value,
            }),
        })
        .then(response => response.json())
        .then(data => {
            //console.log('lo que llega del POST: ', data[0]['precio_compra'])
            precioCompra = data[0]['precio_compra']
            if (precioCompra) {
                document.getElementById('id_precio_compra').value = data[0]['precio_compra']    
            }
            // document.getElementById('id_precio_compra').value = data[0]['precio_compra']
            // precio_compra.innerHTML = data.precio_compra
        });
    }

</script>
    
{% endblock js %}
