{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %}| Nómina de pago semanal{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/datatables-somethink.min.css' %}" />
    <link href="{% static 'css/daterangepicker.css' %}" rel="stylesheet" />
{% endblock css %}

{% block content %}
<div class="az-dashboard-one-title">
  <div>
    <h2 class="az-dashboard-title">Nómina de pago</h2>
    <p class="az-dashboard-text">Nómina de pago a los trabajadores en el rango de tiempo seleccionado.</p>
  </div>
  <div class="az-content-header-right">
    <form method="POST" id="rangoDeFechas">
      <div class="row row-sm mg-b-20">
        {% csrf_token %}
          <div class="col-6">
            <div class="row mb-3">
              <label for="rangosFechas" class="col-sm-3 col-form-label">Rangos:</label>
              <div class="col-9">
                <input type="text" class="form-control" id="rangosFechas" name="datefilter" style="width: 180px;">
              </div>
              <!-- input name="start_date" type="hidden" value=""/>
              <input name="end_date" type="hidden" value="" / -->
            </div>
          </div>
          <div class="col-3">
            <button class="btn btn-primary btn-block">Mostrar</button>
          </div>
      </div>
    </form>
  </div>
</div><!-- az-dashboard-one-title -->
{% if resumen %}
    <table class="table" id="table">
        <thead>
            <tr class="text-center">
                <th rowspan="2">No</th>
                <th rowspan="2">Trabajador</th>
                {% for f in fechas %}
                  <th class="text-center">{{ f|date:"D" }}</th>
                {% endfor %}
                <th rowspan="2" class="text-center">A Pagar</th>
            </tr>
            <tr>
                {% for f in fechas %}
                  <th class="text-center">{{ f|date:"d" }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for f in listado %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td>{{ f.nombre }}</td>
                {% for c in f.cantidad  %}
                    <td class="text-right">$ {{ c }}</td>    
                {% endfor %}
                <td class="text-right tx-bold">$ {{ f.cant }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot style="font-weight: bold;">
            <tr>
                <td colspan="2"></td>
                {% for l in salarios_dias %}
                    <td class="text-right">$ {{ l.salarios }} </td>

                {% endfor %}
                <td class="text-right tx-bold">$ {{ total_a_pagar }}</td>
            </tr>
        </tfoot>
    </table>
{% else %}
<p>Escoja un rango de fechas para ver la nómina.</p>
{% endif %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/datatables-somethink.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/language-dataTables.js' %}" /></script>
    <!-- script type="text/javascript" src="{% static 'js/dataTables_listado.js' %}"></script -->
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/daterangepicker.min.js' %}"></script>
    <!-- script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.buttons.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.select.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/seledt.dataTables.js' %}"></script -->
    <script type="text/javascript" src="{% static 'js/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>

    <script>
    const fecha = new Date();

    // Formar los calendarios para las entre fechas
    $('input[name="datefilter"]').daterangepicker({
        autoUpdateInput: true,
        singleDatePicker: false,
        //showDropdowns: true,
        // minYear: 2020,
        autoApply: true,
        "showWeekNumbers": true,
        "firstDayOfWeek": 0,
        "period": ('week'),
        locale: {
            "format": "YYYY-MM-DD",
            // "separator": " - ",
            "fromLabel": "Desde",
            "toLabel": "Hasta",
            // "customRangeLabel": "Custom",
            "weekLabel": "S",
            "daysOfWeek": [
                "Do",
                "Lu",
                "Ma",
                "Mi",
                "Ju",
                "Vi",
                "Sa"
            ],
            "monthNames": [
                "Enero",
                "Febrero",
                "Marzo",
                "Abril",
                "Mayo",
                "Junio",
                "Julio",
                "Augusto",
                "Septiembre",
                "Octubre",
                "Noviembre",
                "Diciembre"
            ],
            "firstDay": 0
        },
        // ranges: {
        //   'Hoy': [moment(), moment()],
        //   'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        //   'Últimos 7 Días': [moment().subtract(6, 'days'), moment()],
        //   'Últimos 30 Días': [moment().subtract(30, 'days'), moment()],
        //   'Este Mes': [moment().startOf('month'), moment().endOf('month')],
        //   'Mes anterior': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        // },
        "alwaysShowCalendars": true,
        "startDate": fecha,
        "opens": "left",
        // "endDate": "11/27/2024",
        //"minDate": "DD/MM/YYYY",
        //"maxDate": "DD/MM/YYYY"
        }, function (start, end, label) {
        //console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
    });

    $("#rangoDeFechas").on("submit", function(event){
        //event.preventDefault();
        const form = $(this);
        // console.log('llegó: ',  form)
        const fechas = form.find("input[name='datefilter']").val()
        // console.log(`fechas del input: ${fechas}`)
        const hasta = fechas.indexOf(' -')
        const desde = fechas.indexOf('- ', hasta) + 2
        const final = fechas.length
        const fecha1 = fechas.substring(0, hasta)
        // const [dia1, mes1, ano1] = fecha1.split('/')
        // const fecha1_1 = `${ano1}-${mes1}-${dia1}`
        const fecha2 = fechas.substring(desde, final)

        // var input1 = document.createElement('input');
        // var input2 = document.createElement('input');
        // input1.name = 'start_date';
        // input2.name = 'end_date';
        // input1.value = new Date(fecha1).toLocaleString("en-US", {timeZone: "UTC"}) //fecha1;
        // input2.value = new Date(fecha2).toLocaleString("en-US", {timeZone: "UTC"}) //fecha2;
        // form.appendChild(input1);
        // form.appendChild(input2);

        // document.getElementsByName('start_date')[0].value = new Date(fecha1).toLocaleString("es-ES", {timeZone: "UTC"})
        // document.getElementsByName('end_date')[0].value = new Date(fecha2).toLocaleString("es-ES", {timeZone: "UTC"})
        // const [dia2, mes2, ano2] = fecha2.split('/')
        // const fecha2_2 = `${ano2}-${mes2}-${dia2}`
        // console.log(`el rango es desde: ${fecha1} hasta: ${fecha2}`)
        // var formData = new FormData();
        // formData.append('start_date', fecha1)
        // formData.append('end_date', fecha2);

        // fetch('/compras/resumen_productolechesemanal/', {
        //     method: 'POST',
        //     headers: {
        //         'Content-Type': 'application/json',
        //         'X-CSRFTOKEN': '{{csrf_token}}',
        //     },
        //     redirect: 'follow',
        //     // body: formData,
        //     body: JSON.stringify({
        //         // start_date: fecha1_1,
        //         // end_date: fecha2_2
        //         start_date: fecha1,
        //         end_date: fecha2
        //     }),
        // })
        // .then(response => response.json())
        // .then(data => {
        //     //showDatatables(data)
        //     console.log(data);
        // });

    });

    $("#table").DataTable({
        language: language,
         layout: {
             topStart: {
                buttons: [
                    'print', 'excel', 'pdf'
                ]
        //         buttons: [
        //             {
        //                 extend: 'print',
        //                 exportOptions: {
        //                     modifier: {
        //                         selected: null
        //                     }
        //                 },
        //                 // extend: 'pdfHtml5',
        //                 // pageSize: 'LETTER',
        //                 // orientation: 'landscape',
        //                 customize: function (win) {
        //                     $(win.document.body)
        //                         .css('font-size', '10pt')
        //                         .prepend(
        //                             '<img src="http://localhost:8000/static/img/AAReyes-limpio.png" style="position:absolute; bottom:0; right:0; width:20%;opacity: 0.2;" />'
        //                         );
     
        //                     // $(win.document.body)
        //                     //     .find('table')
        //                     //     .addClass('compact')
        //                     //     .css('font-size', 'inherit');
        //                 }
        //             }
        //         ]
            }
        },
    })
    </script>

{% endblock js %}
