{% extends 'base.html' %}
{% load static %}

{% block title %} | Nómina{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/datatables-somethink.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/positivo.css' %}" />
{% endblock css%}

{% block content %}
<div class="az-dashboard-one-title">
    <div>
      <h2 class="az-dashboard-title">Nómina</h2>
      <p class="az-dashboard-text">Lo que van a cobrar los trabajadores</p>
    </div>
    <div class="az-content-header-right">
      <a href="{% url 'registrar_nomina' %}">
        <button class="btn btn-primary">Agregar</button>
      </a>
    </div>
</div><!-- az-dashboard-one-title -->

<div class="row">
    <div class="col">
        {% if object_list  %}
            <table id="venta" class="display table table-striped table-hover table-bordered" >
                <thead>
                    <tr>
                        <th>Trabajador</th>
                        <th>Salario</th>
                        <th>Fecha</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
            <tr>
                <td style="vertical-align:middle !important;">{{ item.trabajador.nombre }}</td>
                <td style="vertical-align:middle !important;" class="text-right">$ {{ item.salario }}</td>
                <td style="vertical-align:middle !important;">{{ item.fecha|date:"d E Y" }}</td>
                <td style="vertical-align:middle !important;">
                <a href="{% url 'actualizar_nomina' item.id %}" style="text-decoration:none;">
                    <button class="btn btn-outline-success btn-rounded">
                        <i class="typcn typcn-edit"></i>Editar
                    </button>
                </a>
                &nbsp;
                <!-- a href="{% url 'borrar_compra' item.id %}">
                    <button class="btn btn-outline-danger btn-rounded">
                        <i class="typcn typcn-trash"></i>Borrar
                    </button>
                </a -->
                </td>
            </tr>
            {% endfor %}
                </tbody>
                <!-- tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot -->
            </table>
        {% else %}
            Aún no hay salario registrado
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/datatables-somethink.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}" /></script>
<script type="text/javascript" src="{% static 'js/language-dataTables.js' %}" /></script>
<script>
    new DataTable('#venta', {
    language: language,
    order: [[2, 'asc']]
});
</script>
{% endblock %}
