{% load static %}
<!-- vendor css -->
<link href="{% static 'assets/lib/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/lib/typicons.font/typicons.css' %}" rel="stylesheet">
<link href="{% static 'assets/lib/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/lib/spectrum-colorpicker/spectrum.css' %}" rel="stylesheet">
<link href="{% static 'assets/lib/ion-rangeslider/css/ion.rangeSlider.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'assets/css/azia.css' %}">
<!-- azia CSS -->

<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<!-- sticki footer -->


