{% load static %}
<div class="az-header">
  <div class="container">
    <div class="az-header-left">
      <a href="{% url 'index' %}" class="az-logo" style="text-transform: none; !important">
      <img src="{% static 'img/aaReyes1.png' %}" alt="Logotio A&A Reyes" width="110" height="60" class="mr-2" /><span></span></a>
      <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
    </div><!-- az-header-left -->
    <div class="az-header-menu" style="z-index: 10000; !important">
      <div class="az-header-menu-header">
        <a href="index.html" class="az-logo"><img src="{% static 'img/aaReyes1.png' %}" alt="Logotio A&A Reyes" width="110" height="60"/></a>
        <a href="" class="close">&times;</a>
      </div><!-- az-header-menu-header -->
      <ul class="nav">
        <li class="nav-item active show">
          <a href="{% url 'index' %}" class="nav-link"><i class="typcn typcn-chart-area-outline"></i> Tablero</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'upload' %}" class="nav-link">
            <i class="typcn typcn-document-add"></i> Importar Fichero
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link with-sub"><i class="typcn typcn-document"></i>Gestión</a>
          <div class="az-menu-sub">
              <div>
                <nav class="nav">
                  <a href="{% url 'showdepartamentos' %}" class="nav-link">Departamento</a>
                  <a href="{% url 'showProductos' %}" class="nav-link">Productos</a>
                  <a href="{% url 'showentrefechas' %}" class="nav-link">Ventas</a>
                  <a href="{% url 'listado_lacteos' %}" class="nav-link">Lácteos a Reconocer</a>
                  <a href="{% url 'ficherosSubidos' %}" class="nav-link">Ficheros Subidos</a>
                  <a href="{% url 'mostrar_conteo_billetes' %}" class="nav-link">Calculadora de Billetes</a>
                  <span class="mt-3 mb-1"><strong>Estadística</strong></span>
                  <a href="{% url 'suma_por_fechas' %}" class="nav-link">Ventas por períodos</a>
                  <a href="{% url 'prod_x_dpto' %}" class="nav-link">Producto por Dpto</a>
                  <a href="{% url 'prod_mas_dpto' %}" class="nav-link">Los 10 productos más vendidos</a>
                  <a href="{% url 'lacteos' %}" class="nav-link">Lácteos vendidos</a>
                  <a href="{% url 'reporte_mensual_departamento' %}" class="nav-link">Reporte Mensual x Departamentos</a>
                  <a href="{% url 'reporte_venta_mensual' %}" class="nav-link">Ventas en un Mes, de todos los Puntos de Ventas</a>
                  <a href="{% url 'create-barcode' %}" class="nav-link">Códigos de Barra</a>
                  <a href="#" class="nav-link">Estudio Inventario</a>
                  <span class="mt-3 mb-1"><strong>Respaldo</strong></span>
                  <a href="{% url 'backup_restore' %}" class="nav-link">Guardar o Cargar Base de Datos</a>
                </nav>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link with-sub">Compras</a>
          <nav class="az-menu-sub">
            {% comment %} <a href="{% url 'list_almacen' %}" class="nav-link">Almacén</a> {% endcomment %}
            {% comment %} <a href="{% url 'list_productos' %}" class="nav-link">Productos</a> {% endcomment %}
            <a href="{% url 'list_precio_productos' %}" class="nav-link">Precios - Productos</a>
            <a href="{% url 'list_compra' %}" class="nav-link">Compras</a>
            <a href="{% url 'resumen_productolechesemanal' %}" class="nav-link">Resumen Semanal</a>
            <a href="{% url 'resumen_productosemanal' %}" class="nav-link">Resumen Productos Semanal</a>
          </nav>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link with-sub">Nómina</a>
          <nav class="az-menu-sub">
            <a href="{% url 'nomina_cargos' %}" class="nav-link">Cargos</a>
            <a href="{% url 'nomina_departamentos' %}" class="nav-link">Departamento</a>
            <a href="{% url 'nomina_trabajadores2' %}" class="nav-link">Trabajadores</a>
            <a href="{% url 'bajas' %}" class="nav-link">Bajas</a>
            <a href="{% url 'nomina_list2' %}" class="nav-link">Nomina</a>
            <a href="{% url 'pago2' %}" class="nav-link">Nomina de pago</a>
          </nav>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link with-sub">Recepciones</a>
          <nav class="az-menu-sub">
            <a href="{% url 'unidadmedida_list' %}" class="nav-link">Unidad de Medida</a>
            <a href="{% url 'cliente_list' %}" class="nav-link">Clientes</a>
            <a href="{% url 'producto_list' %}" class="nav-link">Productos</a>
            <a href="{% url 'factura_list' %}" class="nav-link">Recepción</a>
          </nav>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link with-sub">Producción</a>
          <nav class="az-menu-sub">
            <a href="{% url 'categorias_list' %}" class="nav-link">Categorias</a>
	          <a href="{% url 'productos_list' %}" class="nav-link">Pruductos</a>
            <a href="{% url 'produccion_list' %}" class="nav-link">Producción</a>
            <a href="{% url 'salida_list' %}" class="nav-link">Salida</a>
            <a href="{% url 'destino_list' %}" class="nav-link">Destino</a>
            <span class="mt-3 mb-1"><strong>Producción en Proceso</strong></span>
            <a href="{% url 'produc_proceso:dashboard' %}" class="nav-link">Ver lo que produce</a>
	          <a href="{% url 'productos_list' %}" class="nav-link">Pruductos</a>
            <a href="{% url 'produccion_list' %}" class="nav-link">Producción</a>
            <a href="{% url 'salida_list' %}" class="nav-link">Salida</a>
            <a href="{% url 'destino_list' %}" class="nav-link">Destino</a>
          </nav>
        </li>
        <!-- li class="nav-item">
          <a href="" class="nav-link with-sub">Punto de Venta</a>
          <nav class="az-menu-sub">
            {% comment %}
            <a href="{% url 'dashboard_puntoventa' %}" class="nav-link">DashBoard</a>
            <a href="{% url 'transaccion_list' %}" class="nav-link">Transacciones</a>
            <a href="{% url 'existencia_mensual' %}" class="nav-link">Existencia Mensual</a>
            <a href="{% url 'detalle_venta_list' %}" class="nav-link">Detalle Ventas</a>
            <a href="{% url 'venta_list' %}" class="nav-link">Ventas</a>
            {% endcomment %}
            {% comment %} <a href="{% url 'almacen_list' %}" class="nav-link">Almacén</a> {% endcomment %}
            <a href="{% url 'producto_list' %}" class="nav-link">Productos</a>
            {% comment %} <a href="{% url 'venta_list' %}" class="nav-link">Ventas</a> {% endcomment %}
            <a href="{% url 'cliente_list' %}" class="nav-link">Clientes</a>
            {% comment %} <a href="{% url 'proveedor_list' %}" class="nav-link">Proveedores</a> {% endcomment %}
            {% comment %} <a href="{% url 'categoria_list' %}" class="nav-link">Categorias</a> {% endcomment %}
            {% comment %} <a href="{% url 'puntodeventa_list' %}" class="nav-link">Punto de Ventas</a> {% endcomment %}
            {% comment %} <a href="{% url 'envio_list' %}" class="nav-link">Envíos</a> {% endcomment %}
            
          </nav>
        </li -->
        <!-- li class="nav-item">
          <a href="" class="nav-link with-sub"><i class="typcn typcn-document"></i> Pages</a>
          <nav class="az-menu-sub">
            <a href="page-signin.html" class="nav-link">Sign In</a>
            <a href="page-signup.html" class="nav-link">Sign Up</a>
          </nav>
        </li>
        <li class="nav-item">
          <a href="chart-chartjs.html" class="nav-link"><i class="typcn typcn-chart-bar-outline"></i> Charts</a>
        </li>
        <li class="nav-item">
          <a href="form-elements.html" class="nav-link"><i class="typcn typcn-chart-bar-outline"></i> Forms</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link with-sub"><i class="typcn typcn-book"></i> Components</a>
          <div class="az-menu-sub">
            <div class="container">
              <div>
                <nav class="nav">
                  <a href="elem-buttons.html" class="nav-link">Buttons</a>
                  <a href="elem-dropdown.html" class="nav-link">Dropdown</a>
                  <a href="elem-icons.html" class="nav-link">Icons</a>
                  <a href="table-basic.html" class="nav-link">Table</a>
                </nav>
              </div>
            </div><!-- container -->
          <!-- /div>
        </li -->
      </ul>
    </div><!-- az-header-menu -->
    <!-- div class="az-header-right">
      <a href="https://www.bootstrapdash.com/demo/azia-free/docs/documentation.html" target="_blank" class="az-header-search-link"><i class="far fa-file-alt"></i></a>
      <a href="" class="az-header-search-link"><i class="fas fa-search"></i></a>
      <div class="az-header-message">
        <a href="#"><i class="typcn typcn-messages"></i></a>
      </div><!-- az-header-message -->
      <!-- div class="dropdown az-header-notification">
        <a href="" class="new"><i class="typcn typcn-bell"></i></a>
        <div class="dropdown-menu">
          <div class="az-dropdown-header mg-b-20 d-sm-none">
            <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
          </div>
          <h6 class="az-notification-title">Notifications</h6>
          <p class="az-notification-text">You have 2 unread notification</p>
          <div class="az-notification-list">
            <div class="media new">
              <div class="az-img-user"><img src="{% static 'assets/img/faces/face2.jpg' %}" alt=""></div>
              <div class="media-body">
                <p>Congratulate <strong>Socrates Itumay</strong> for work anniversaries</p>
                <span>Mar 15 12:32pm</span>
             <!-- </div><!-- media-body -->
            <!-- /div><!-- media -->
            <!-- div class="media new">
              <div class="az-img-user online"><img src="{% static 'assets/img/faces/face3.jpg' %}" alt=""></div>
              <div class="media-body">
                <p><strong>Joyce Chua</strong> just created a new blog post</p>
                <span>Mar 13 04:16am</span>
              </div><!-- media-body -->
            <!-- /div><!-- media -->
            <!-- div class="media">
              <div class="az-img-user"><img src="{% static 'assets/img/faces/face4.jpg' %}" alt=""></div> 
              <div class="media-body">
                <p><strong>Althea Cabardo</strong> just created a new blog post</p>
                <span>Mar 13 02:56am</span>
              </div><!-- media-body -->
            <!-- /div><!-- media -->
            <!-- div class="media">
              <div class="az-img-user"><img src="{% static 'assets/img/faces/face5.jpg' %}" alt=""></div>
              <div class="media-body">
                <p><strong>Adrian Monino</strong> added new comment on your photo</p>
                <span>Mar 12 10:40pm</span>
              </div><!-- media-body -->
            <!-- /div><!-- media -->
          <!-- /div><!-- az-notification-list -->
          <!-- div class="dropdown-footer"><a href="">View All Notifications</a></div>
        </div><!-- dropdown-menu -->
      <!-- /div><!-- az-header-notification -->
      <!-- div class="dropdown az-profile-menu">
        <a href="" class="az-img-user"><img src="{% static 'assets/img/faces/face1.jpg' %}" alt=""></a>
        <div class="dropdown-menu">
          <div class="az-dropdown-header d-sm-none">
            <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
          </div>
          <div class="az-header-profile">
            <div class="az-img-user">
              <img src="{% static 'assets/img/faces/face1.jpg' %}" alt="">
            </div><!-- az-img-user -->
            <!-- h6>Aziana Pechon</h6>
            <span>Premium Member</span>
          </div><!-- az-header-profile -->

          <!-- a href="" class="dropdown-item"><i class="typcn typcn-user-outline"></i> My Profile</a>
          <a href="" class="dropdown-item"><i class="typcn typcn-edit"></i> Edit Profile</a>
          <a href="" class="dropdown-item"><i class="typcn typcn-time"></i> Activity Logs</a>
          <a href="" class="dropdown-item"><i class="typcn typcn-cog-outline"></i> Account Settings</a>
          <a href="page-signin.html" class="dropdown-item"><i class="typcn typcn-power-outline"></i> Sign Out</a>
        </div><!-- dropdown-menu -->
      <!-- /div>
    </div><!-- az-header-right -->
  </div><!-- container -->
</div><!-- az-header -->
