{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  {% block css %}{% endblock css %}
  <body>

    {% include 'menu.html' %}

    <div class="az-content az-content-dashboard">
      <div class="container">
        <div class="az-content-body">
          {% block content %}
          {% endblock content %}
        </div><!-- az-content-body -->
      </div>
    </div><!-- az-content -->

    {% include "footer.html" %}

    {% include "js.html" %}
    {% block js %}{% endblock js %}
    
  </body>
</html>
