{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/datatables-somethink.min.css' %}" />
{% endblock css %}

{% block content %}

<div class="az-dashboard-one-title">
  <div>
    <h2 class="az-dashboard-title">Almacenes</h2>
    <p class="az-dashboard-text">Los diferentes almacenes de la entidad</p>
  </div>
  <div class="az-content-header-right">
    <a href="{% url 'registrar_almacen' %}">
      <button class="btn btn-primary">Agregar</button>
    </a>
  </div>
</div><!-- az-dashboard-one-title -->
<table class="table" id="table">
    <thead>
        <tr>
            <th>Almacén</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{ item.nombre }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/datatables-somethink.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/language-dataTables.js' %}" /></script>
    <script type="text/javascript" src="{% static 'js/dataTables_listado.js' %}"></script>

{% endblock js %}
