{% extends 'base.html' %}

{% load static %}

{% block content %}
<h3 class="">{{ texto1 }}</h1>
<p>{{ texto2 }}</p>
<form class="form-class" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-primary btn-rounded" type="submit">Registrar Compra</button>
    <button class="btn btn-outline-warning btn-rounded" type="reset">Limpiar</button>
    <a href="javascript: history.back(-1)">
        <button class="btn btn-outline-danger btn-rounded" type="cancel">Cancelar</button>
    </a>
</form>
{% endblock %}
